<div class="d-flex align-items-center">
  <mat-paginator
    [length]="paginationConfig.totalRecords"
    [pageSize]="pageEvent.pageSize"
    aria-label="Select page"
    [pageSizeOptions]="pageOptions"
    (page)="onPaginatorChange($event)"
  >
  </mat-paginator>
  <div class="d-flex align-items-center">
    <div>
      <input
        class="current-page__input border-0 p-1"
        type="text"
        value="{{ pageEvent.pageIndex + 1 }}"
        (change)="navigateToSpecificPage($event)"
        numbersOnly
      />
    </div>
    <div>
      of {{ totalPages }}
    </div>
  </div>
</div>
